@charset "UTF-8";

.breadcrumbs {
  display: none
}

main#maincontent {
  margin-top: 0
}

.columns div.column.main {
  padding-bottom: 0
}

#es-rc #es-rc-content {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 680px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-kv {
    display: none;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;

    &__mobile {
      min-height: 550px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
    }

    &__title {
      position: absolute;
      top: 35%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -35%);
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: #ffffff;
      text-align: center;

      &--bold {
        display: block;
        font-weight: 700;
      }

    }

    &__logo {
      display: flex;
      align-items: flex-end;
      padding: 25px;
      position: absolute;
      top: 48%;
      right: 2px;
      width: 65%;
    }

    &__logo-img {
      margin-right: 0;
    }
  }

  .es-cards {
    .es-flip-card {
      background-color: transparent;
      perspective: 1000px;
      width: 300px;
      height: 500px;
      margin-bottom: 50px;
    }

    .es-flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    &__flip-img {
      height: 500px;
    }

    .es-flip-card-front,
    .es-flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      z-index: 1;
    }

    .es-flip-card-front {
      background-color: #bbb;
      color: black;
    }

    .es-flip-card-back {
      padding: 30px 15px;
      padding-top: 10px;
      background-color: #0e3460;
      color: white;
      transform: rotateY(180deg);
    }

    .es-flip-card-back-container {
      border: 2px solid #fff;
      border-radius: 25px;
      padding: 25px;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 5px;
      padding-bottom: 130px;

      &--2 {
        padding-bottom: 55px;
      }

      &--3 {
        padding-bottom: 175px;
      }

      &--4 {
        padding-bottom: 110px;
      }
    }

    .es-flip-card-back__group {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      column-gap: 10px;
      padding-left: 10px;
      padding-right: 15px;
      margin-bottom: 40px;
    }

    .es-flip-card-back__title {
      font-family: Montserrat, sans-serif;
      font-size: 15px;
      color: #ffffff;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
    }

    .es-flip-card-back-text {
      font-family: Montserrat, sans-serif;
      font-size: 15px;
      margin-bottom: 20px;
      text-align: left;

      &__disclaimer {
        font-family: Montserrat, sans-serif;
        font-size: 10px;
        text-align: left;
      }
    }

    .es-flipped .es-flip-card-inner {
      transform: rotateY(180deg);
    }

    .es-flipButton {
      position: absolute;
      top: 150px;
      left: 25px;
      border: none;
      padding: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    .es-flipButtonClose {
      position: absolute;
      top: 25px;
      right: 25px;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__flip {
      background-color: #0e3460;
      position: relative;
      max-width: 325px;
      margin: 0 auto;
    }

    &__flip-title {
      padding-left: 28px;
      position: absolute;
      top: 32px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      text-align: left;


      &--thin {
        font-weight: 300;
      }
    }

    &__carousel-container {
      // padding-left: 50px;
      max-width: 325px;
      margin: 0 auto;
    }

    .es-swiper-slide {
      &--desktop {
        display: none;
      }
    }
  }

  .es-navigation {
    padding-top: 20px;
    padding-bottom: 20px;

    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      gap: 25px 5px;
      background: #ffffff;
    }

    &__link {
      min-width: 140px;
      max-width: 140px;
      padding: 10px 10px;
      border-radius: 10px;
      font-size: 10px;
      font-weight: 700;
      color: #ffffff;
      background-color: #0e3460;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;


      &--2 {
        order: 3;
      }
    }
  }

  .es-cross {

    &__single {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: 200px;
      margin-bottom: 50px;
    }

    &__single-link {
      text-decoration: none;
    }

    &__single-img {
      margin-bottom: 20px;
    }

    &__img {
      min-height: 320px;

      &--3,
      &--4,
      &--6,
      &--9 {
        min-height: 292px;
        max-height: 292px;
        margin-top: 27px;
      }

    }

    &__single-title {
      margin-bottom: 20px;
      font-family: Montserrat, sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;

      &--purple {
        color: #0e3460;
      }

      &--small {
        text-transform: none;
      }
    }

    &__single-link-text {
      max-width: 240px;
      margin: 0 auto;
      font-family: Montserrat, sans-serif;
      padding: 15px 25px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #2739b0;
      text-transform: uppercase;
      text-align: center;

      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        background-color: #0e3460;
      }
    }

    &__single-title {
      text-align: center;
    }
  }

  @media (min-width: 400px) {
    .es-kv {

      &__title {
        font-size: 20px;
      }

      &__mobile {
        min-height: 800px;
      }
    }

    .es-navigation {

      &__container {
        max-width: 400px;
        margin: 0 auto;
      }

      &__link {
        min-width: 180px;
        max-width: 180px;
        font-size: 13px;
      }
    }
  }

  @media (min-width: 700px) {
    .es-navigation {

      &__container {
        max-width: none;
        margin: 0 auto;
      }

      &__link {
        min-width: 250px;
        max-width: 250px;
        font-size: 16px;
        padding: 20px 10px;
      }
    }
  }

  @media (min-width: 768px) {

    .es-navigation {
      &__link {
        &--2 {
          order: initial;
        }
      }
    }

    .es-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 50px;

      &__carousel-container {

        &--mobile {
          display: none;
        }
      }

      .es-flip-card {
        min-width: 300px;

        &--2 {
          order: 4;
        }

        &--4 {
          order: 4;
        }
      }

      .es-swiper-slide {
        &--desktop {
          display: block;
          min-width: 300px;
        }
      }
    }

    .es-cross {
      &__single-title {
        font-size: 16px;
      }
    }
  }

  @media (min-width: 1200px) {
    max-width: 1300px;

    .es-kv {
      display: block;
      position: relative;

      &__title {
        top: 73%;
        left: 65.3%;
        font-size: 30px;

        &--bold {
          display: inline;
        }
      }

      &__mobile {
        display: none;
      }

      &__logo {
        top: 21%;
        right: 11px;
      }
    }

    .es-navigation {
      &__container {
        justify-content: space-between;
      }

      &__link {
        min-width: 275px;
        max-width: 275px;
        font-size: 20px;
      }
    }

    .es-cards {
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      gap: 0;

      .es-flip-card {
        min-width: 325px;
      }

      .es-swiper-slide {
        &--desktop {
          display: block;
          min-width: 275px;
        }
      }

      .es-flip-card-back-container {
        padding-bottom: 145px;

        &--2 {
          padding-bottom: 75px;
        }

        &--3 {
          padding-bottom: 195px;
        }

        &--4 {
          padding-bottom: 125px;
        }
      }
    }
  }

  @media (min-width: 1300px) {
    .es-cards {
      .es-swiper-slide {
        &--desktop {
          display: block;
          min-width: 325px;
        }
      }
    }
  }

  @media (min-width: 1800px) {
    max-width: none;

    .es-kv {
      min-height: 600px;
    }

    .es-navigation {
      &__link {
        min-width: 380px;
        max-width: 380px;
        font-size: 20px;
      }
    }

    .es-cards {
      .es-swiper-slide {
        &--desktop {
          min-width: 480px;
        }
      }

      .es-flip-card {
        min-width: 380px;

        &-front {
          background-color: #0e3460;
        }
      }

      .es-flip-card-back-container {
        padding-bottom: 185px;

        &--2 {
          padding-bottom: 115px;
        }

        &--3 {
          padding-bottom: 195px;
        }

        &--4 {
          padding-bottom: 145px;
        }
      }
    }
  }
}