.breadcrumbs {
  display: none;
}

main#maincontent {
  margin-top: 0;
}

.columns div.column.main {
  padding-bottom: 0;
}

#es-rc #es-rc-content {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 680px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background-color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-kv {
  display: none;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}
#es-rc #es-rc-content .es-kv__mobile {
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#es-rc #es-rc-content .es-kv__logo {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  position: absolute;
  top: 38%;
  right: 2px;
  width: 70%;
}
#es-rc #es-rc-content .es-kv__logo-img {
  margin-right: 0;
}
#es-rc #es-rc-content .es-cards .es-flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 300px;
  height: 500px;
  margin-bottom: 50px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#es-rc #es-rc-content .es-cards__flip-img {
  height: 500px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-front,
#es-rc #es-rc-content .es-cards .es-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 1;
}
#es-rc #es-rc-content .es-cards .es-flip-card-front {
  background-color: #bbb;
  color: black;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back {
  padding: 30px 15px;
  padding-top: 10px;
  background-color: #0e3460;
  color: white;
  transform: rotateY(180deg);
}
#es-rc #es-rc-content .es-cards .es-flip-card-back-container {
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 25px;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 120px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back-container--2 {
  padding-bottom: 40px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back-container--3 {
  padding-bottom: 150px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back-container--4 {
  padding-bottom: 100px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back__group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back__title {
  font-family: Montserrat, sans-serif;
  text-align: left;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back-text {
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
  text-align: left;
}
#es-rc #es-rc-content .es-cards .es-flip-card-back-text__disclaimer {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  text-align: left;
}
#es-rc #es-rc-content .es-cards .es-flipped .es-flip-card-inner {
  transform: rotateY(180deg);
}
#es-rc #es-rc-content .es-cards .es-flipButton {
  position: absolute;
  top: 150px;
  left: 25px;
  border: none;
  padding: 0;
}
#es-rc #es-rc-content .es-cards .es-flipButtonClose {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  padding: 0;
  background-color: transparent;
}
#es-rc #es-rc-content .es-cards__flip {
  background-color: #0e3460;
  position: relative;
  max-width: 325px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-cards__flip-title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 55px;
  position: absolute;
  top: 30px;
}
#es-rc #es-rc-content .es-cards__flip-title--thin {
  font-weight: 300;
}
#es-rc #es-rc-content .es-cards__carousel-container {
  padding-left: 50px;
  max-width: 325px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-cross__single-link {
  text-decoration: none;
}
#es-rc #es-rc-content .es-cross__single-link-text {
  max-width: 240px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  padding: 15px 25px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #2739b0;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__single-title {
  text-align: center;
}
@media (min-width: 400px) {
  #es-rc #es-rc-content .es-kv__mobile {
    min-height: 800px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content {
    max-width: 1300px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv {
    display: block;
  }
  #es-rc #es-rc-content .es-kv__mobile {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */